@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url('./assets/lato-v16-latin-300.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url('./assets/lato-v16-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url('./assets/lato-v16-latin-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url('./assets/lato-v16-latin-900.woff2') format('woff2');
}

  html, body {
    height: 100%;
    box-sizing: border-box;
    max-width: 1020px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
   
}

 *,
*::before,
*::after {
    box-sizing: inherit;
}

form {
    background-color: #F06C64;
    height: 655px;
    border-bottom: 7px #EA676B solid ;
    padding: 63px 8px 65px 40px;
}
form h2{
    color: #F0CCCC;
    padding: 6px 0px 27px ;
    font-family: "Lato Black", "Arial", sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.7px;
    line-height: 18px;
}

form p{
    color: #F0CCCC;
    line-height: 1.7;
    font-family: "Lato Light", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 100;
    letter-spacing: -0.1px;
    line-height: 30px;
    text-align: justify;
    padding-bottom: 45px;
}

.inputs-contacts{
    display: flex;
}

.inputs{
    display: inline-flex;
    flex-direction: column;
    padding-right: 21px;
    width: 66%;
}

.input {
    background-color: #d6564f;
    border-radius: 5px;
    font-family: "Lato Regular", "Arial", sans-serif;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: #f0d8d9;
    padding: 7px 14px 9px 14px;
    margin-bottom: 16px;
    border: none;

}
.input::placeholder {
    color: #f48c8f;
  }

.contact-information{
    width: 300px;
    text-align: justify;
    color: #F0D8D9;
}

textarea{
    height: 200px;
}

.contact-information h3{
  font-family: "Lato Black", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 800;
  line-height: 18px;
  margin: 0;
}

.contact-information p {
    font-family: "Lato Regular", "Arial", sans-serif;
    margin: 10px 0 0 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
    padding-bottom: 23px;
    letter-spacing: 0.3px;
}

.contact-information a {
    display: block ;
    text-decoration: none;
    font-size: 12px;
    color: #F0D8D9;
    padding-bottom: 10px;
}

.contact-information a img{
    padding-right: 10px;
}

.contact-information button{
    margin-top: 125px;
    padding: 5px 70px 5px 70px;
    font-size: 15px;
    border-radius: 50px;
    border: 1px #F0D8D9 solid ;
}

button, 
button:active, 
button:focus {
    outline: none;
    cursor: pointer;
}

.footer {
    background-color: #2d303a;
    color: #5e657e;
    display: flex;
    padding: 34px 41px 34px 42px;
    justify-content: space-between;
    height: 77px;
    align-items: center;
}

.copyright{
    font-size: 12px;
}

.footer__links img{
    opacity: 0.7;
    padding-right: 2px;
    cursor: pointer;
}
