@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url('./assets/lato-v16-latin-300.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url('./assets/lato-v16-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url('./assets/lato-v16-latin-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url('./assets/lato-v16-latin-900.woff2') format('woff2');
}

  html, body {
    height: 100%;
    box-sizing: border-box;
    max-width: 1020px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
   
}

 *,
*::before,
*::after {
    box-sizing: inherit;
}

content {
    display: block;
    width: 100%;
    height: 870px;
    background-color: #2d303a;
    padding: 62px 40px 73px 40px;
}

content h2{
    font-size: 32px;
    font-family: "Lato-Black";
    color: #666d89 ;
    font-weight: 900;
    padding-bottom: 26px;
}

content p {
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 18px;
}

content ul {
    display: flex;
    list-style-type: none;
    padding-bottom: 18px;
}

content li {
    border: 1px #626883 solid;
    border-radius: 5px;
    font-size: 11px;
    font-family: "Lato";
    font-weight: 400;
    line-height: 21px;
    color: #666d89;  
    padding: 0px 7px 0px 7px;
    margin-right: 11px;
    height: 22px;
    vertical-align: middle;
}

content li:first-child{
    color: #ffffff;
    border: 1px #ffffff solid;
}

.content__grid-container {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 187px 187px 187px;
    gap: 20px;
    
}

.contacts{
    padding: 68px 15px 67px 40px;
    width: 100%;
    height: 728px;
    background-color: #f2f2f2;
}

.contacts h2{
    color: #666d89;
    font-family: "Lato - Black";
    font-size: 31px;
    font-weight: 900;
    line-height: 17.86px;
    padding-bottom: 25px;
}

.contacts p {
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 45px;
}
.contacts__flex-items {
    display: flex;
    justify-content: space-between;
}
.contacts__flex-items p {
    color: #767e9e;
    font-family: Lato;
    font-size: 13px;
    font-weight: 500;
    line-height: 21.56px;
    padding: 10px 0 25px 0;
}
.contacts__flex-items h4 {
    padding-top: 17px;
    color: #666d89;
    font-family: "Lato - Black";
    font-size: 18px;
    font-weight: 900;
    line-height: 17.86px;
}
.social-links {
    display: flex;
}
.social-links img {
  padding: 0 4px 0 4px;
}
.social-links img:first-child{
    padding-left: 0;
}