@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Lato Light"), local("Lato-Light"), url(assets/Lato-Light.woff2) format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Lato Regular"), local("Lato-Regular"), url(assets/Lato-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Lato Bold"), local("Lato-Bold"), url(assets/Lato-Bold.woff2) format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local("Lato Black"), local("Lato-Black"), url(assets/Lato-Black.woff2) format("woff2");
}

html {
    box-sizing: border-box;
    max-width: 1020px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

h1 {
    padding-bottom: 20px;
    font-size: 30px;
    color: #8e919e;
    font-weight: bold;
}

h4 {
    padding-bottom: 10px;
    font-size: 19px;
    color: #666d89;
    font-weight: 900;
    cursor: pointer;
}

li {
    font-size: 12px;
}

.header__logo span {
    color: #F06C64;
}


/* Header Styles */

.header {
    background-color: #2D303A;
    padding: 32px 32px 32px 38px;
    margin: 0 auto;
    border-bottom: #323746 solid 7px;
    position: sticky;
    top: 0px;
    z-index: 1;
}


.header a:focus:hover {
    color: #de655e;
}

.active {
    color: #de655e;
}

.header__logo {
    font-size: 25px;
}

.header__wrapper,
.header__wrapper ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.header__nav {
    padding: 9px 8px 0 0;
    flex-basis: 40%;
}

.header__nav ul li:first-child {
    list-style-type: none;
}

.header__nav ul {
    color: #393d4b;
}


/* Slider Styles */

.slider {
    display: flex;
    justify-content: space-between;
    background-color: #F06C64;
    width: 100%;
    height: 600px;
    align-items: center;
    border-bottom: #ea676b solid 7px;
}

.slide-1 {
    display: flex;
    justify-content: space-between;
    background-color: #F06C64;
    width: 100%;
    height: 600px;
    align-items: center;
    border-bottom: #ea676b solid 7px;
    transition: left 500ms linear;
}

.slide-2 {
    position: absolute;
    width: 1020px;
    height: 600px;
    background-image: url("./assets/Slide-2.png");
    transition: left 500ms linear;
    opacity: 1;
}

.hidden-slide {
    display: none;
}

.slider__arrow {
    position: relative;
    z-index: 1;
    opacity: 0.3;
    transition: 0.6s ease;
    cursor: pointer;
    padding: 41px;
}

.slider__arrow:hover {
    opacity: 0.8;
}

.slider__pictureLeft,
.slider__pictureRight {
    position: relative;
}

.slider__pictureLeft img:last-child {
    position: absolute;
    top: 65px;
    left: 15px;
}

.slider__pictureRight img:last-child {
    position: absolute;
    top: 15px;
    left: 60px;
}

/* Services Styles */

.services {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 496px;
    color: #666d89;
    background-color: #f2f2f2;
    padding: 60px 0 0 40px;
}

.services__info p {
    font-size: 18px;
    line-height: 1.8;
    padding-bottom: 50px;
}

.services__info {
    height: 100px;
}

.services__benefits {
    display: grid;
    flex-basis: 65%;
    grid-template-rows: 86px 86px;
    grid-template-columns: 70px 220px 70px 220px 70px 220px;
    gap: 15px;
    row-gap: 40px;
}

.services__benefits p {
    font-size: 12px;
    line-height: 1.8;
}

.services__benefits img {
    cursor: pointer;
}

content {
    display: block;
    width: 100%;
    height: 870px;
    background-color: #2d303a;
    padding: 62px 40px 73px 40px;
}

content h2 {
    font-size: 32px;
    font-family: "Lato-Black";
    color: #666d89;
    font-weight: 900;
    padding-bottom: 26px;
}

content p {
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 18px;
}

content ul {
    display: flex;
    list-style-type: none;
    padding-bottom: 18px;
}

content li {
    border: 1px #626883 solid;
    border-radius: 5px;
    font-size: 11px;
    font-family: "Lato";
    font-weight: 400;
    line-height: 21px;
    color: #666d89;
    padding: 0px 7px 0px 7px;
    margin-right: 11px;
    height: 22px;
    vertical-align: middle;
}

.portfolio__buttons>li {
    color: #767E9E;
    cursor: pointer;
    border: 1px solid #767E9E;
    border-radius: 5px;
    box-sizing: border-box;
}

ul .switchTabs {
    border: 1px solid #BBBBBB;
    color: rgb(255, 255, 255);
}

#content__grid-container {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 187px 187px 187px;
    gap: 20px;
}

.container {
    cursor: pointer;
    border: 5px solid #F06C64;
}

.contacts {
    padding: 68px 15px 67px 40px;
    width: 100%;
    height: 728px;
    background-color: #f2f2f2;
}

.contacts h2 {
    color: #666d89;
    font-family: "Lato - Black";
    font-size: 31px;
    font-weight: 900;
    line-height: 17.86px;
    padding-bottom: 25px;
}

.contacts p {
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 45px;
}

.contacts__flex-items {
    display: flex;
    justify-content: space-between;
}

.contacts__flex-items p {
    color: #767e9e;
    font-family: Lato;
    font-size: 13px;
    font-weight: 500;
    line-height: 21.56px;
    padding: 10px 0 25px 0;
}

.contacts__flex-items h4 {
    padding-top: 17px;
    color: #666d89;
    font-family: "Lato - Black";
    font-size: 18px;
    font-weight: 900;
    line-height: 17.86px;
}

.social-links {
    display: flex;
}

.social-links img {
    padding: 0 4px 0 4px;
}

.social-links img:first-child {
    padding-left: 0;
}

form {
    background-color: #F06C64;
    height: 655px;
    border-bottom: 7px #EA676B solid;
    padding: 63px 8px 65px 40px;
}

form h2 {
    color: #F0CCCC;
    padding: 6px 0px 27px;
    font-family: "Lato Black", "Arial", sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.7px;
    line-height: 18px;
}

form p {
    color: #F0CCCC;
    line-height: 1.7;
    font-family: "Lato Light", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 100;
    letter-spacing: -0.1px;
    line-height: 30px;
    text-align: justify;
    padding-bottom: 45px;
}

.inputs-contacts {
    display: flex;
}

.inputs {
    display: inline-flex;
    flex-direction: column;
    padding-right: 21px;
    width: 66%;
}

.input {
    background-color: #d6564f;
    border-radius: 5px;
    font-family: "Lato Regular", "Arial", sans-serif;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: #f0d8d9;
    padding: 7px 14px 9px 14px;
    margin-bottom: 16px;
    border: none;

}

.input::placeholder {
    color: #f48c8f;
}

.contact-information {
    width: 300px;
    text-align: justify;
    color: #F0D8D9;
}

textarea {
    height: 200px;
}

.contact-information h3 {
    font-family: "Lato Black", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 800;
    line-height: 18px;
    margin: 0;
}

.contact-information p {
    font-family: "Lato Regular", "Arial", sans-serif;
    margin: 10px 0 0 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
    padding-bottom: 23px;
    letter-spacing: 0.3px;
}

.contact-information a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: #F0D8D9;
    padding-bottom: 10px;
}

.contact-information a img {
    padding-right: 10px;
}

.contact-information button {
    margin-top: 125px;
    padding: 5px 70px 5px 70px;
    font-size: 15px;
    border-radius: 50px;
    border: 1px #F0D8D9 solid;
}

button,
button:active,
button:focus {
    outline: none;
    cursor: pointer;
}

.footer {
    background-color: #2d303a;
    color: #5e657e;
    display: flex;
    padding: 34px 41px 34px 42px;
    justify-content: space-between;
    height: 77px;
    align-items: center;
}

.copyright {
    font-size: 12px;
}

.footer__links img {
    opacity: 0.7;
    padding-right: 2px;
    cursor: pointer;
}